@charset "UTF-8";

:root {
    --cor1: #04aa6d;
    --cor2: #059862;
    --cor3: #D9EEE1;
    --cor4: #CCCCCC;
    --cor5: #eeeeee;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

main{
    padding: 16px;
}

hr{
    border: 0;
    border-top: 1px solid #eeeeee;
    margin: 20px -16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Segoe UI', Arial, sans-serif;
    font-weight: normal;
}

p {
    font-size: 15px;
}

main p, li {
    text-align: justify;
    line-height: 1.4em;
}

div.w4-top-menu{
    width: 100%;
    height: 40px;
    padding: 0px;
    letter-spacing: 1px;
    font-family: sans-serif;
    background-color: #282A35;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

div.w4-top-menu a {
    text-decoration: none;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
}

button.w4-button {
    background-color: var(--cor1);
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    font-size: 18px;

}

/*
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #cccccc;
    border-radius: 5px;
*/

button.w4-button:hover {
    background-color: var(--cor2);
}

button.w4-button a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}

button.w4-button a.a-prev-page::before {
    content: '\❮\00A0';
}

button.w4-button a.a-next-page::after{
    content: '\00A0\❯';
}

button.w4-button-g {
    background-color: var(--cor4);
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
}

button.w4-button-g a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

div.tutorial-bkg-color {
    background-color: var(--cor3);
    padding: 20px 14px;
    margin: 20px -14px;
    text-align: justify;
}

p > code.w4-codespan {
    font-size: 105%;
    background-color: rgba(222,222,222,0.3);
    color: crimson;
    padding-left: 4px;
    padding-right: 4px;
}