@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@font-face {
    font-family: 'Consolas';
    src: url('../media/font/CONSOLA.TTF') format('truetype');
}

:root {
    --cor1: #666ead;
    --cor2: #535a8b;
    --cor3: #000000;
    --cor4: #202020;
    --cor5: #E7E9EB;
    --cor6: #CCCCCC;
    --cor7: #eeeeee;
    --cor8: #8c00ff;
    --cor9: #02ac10;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 16px;
    line-height: 1.5;
}

main {
    margin-left: -16px;
    margin-right: -16px;
}



/* DIVS DE EXEMPLO */

/* CONFIGS DE TEXTO */

code.codespan {
    color: crimson;
    font-size: 105%;
    padding: 4px;
    font-family: Consolas, monospace;
    background-color: #dedede4d;
}

p.nota {
    background-color: #ffffcc;
    margin: 24px -32px;
    padding: 16px 32px;
}

p.dica{
    background-color: #ccecff;
    margin: 24px -32px;
    padding: 16px 32px;
}

span.tagcolor{
    color: red;
}

/* CONFIGS DE TEXTO */

/* BOTÕES */

/* BOTÃO GLOBAL */

/* BOTÃO GLOBAL */

/* BOTÃO CINZA */

/* BOTÃO CINZA */

/* BOTÃO PÁGINA ANTERIOR */

/* BOTÃO PÁGINA ANTERIOR */

/* BOTÃO PRÓXIMA PÁGINA */

/* BOTÃO PRÓXIMA PÁGINA */

/* BOTÕES */

/* GAMBI */
div.card-index-end{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 15px 20px;
    text-align: center;
}

/* GAMBI */